.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
  }
  
  .color-option {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .selected-color {
    width: 100px;
    height: 100px;
  }
  
  #download-btn {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  #download-btn:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
  .red{
  background: red;
  
  }
  
 .green{
    background: green;
    
    }
    
 .blue{
        background:blue;
        
        }
        
.yellow{
            background:yellow;
            
            }